html{
    background: url(wyh/images/wyh1.png)
}

body{
    width: auto;
    height: auto;
    margin: 0px 20%;
    background-color: gray;
}

nav{
    background-color: lightskyblue;
}

#nav{
    text-decoration: none
}

#td{
    font-size: 20px;
    text-align: center;
    width: 1000px;
    height: 50px;
}

li{
    margin-top: 31px;
}

header{
    font-size: 60px;
    text-align: center;
}

.zhuti{
    width: 100%;
    height: 600px;  
}

.cebianlan{
    width: 20%;
    height: 100%;
    background-color: lightskyblue;
    float: left;
    margin-top: 10px;
}

.neirong{
    width: 78%;
    height: 100%;
    background-color: white;
    float: right;
    margin-top: 10px;
}

#footer{
    background-color: white;
    width: 100%;
    height: 180px;
    margin-top: 20px;
    text-align: center;
    line-height: 180px;
}

